<div class="container mt-4">
  <%= form_for :sms_message, url: sms_messages_path, method: :post  do  |f| %>
    <div class="form-group">
      <%= f.label :member_scope, "Select who you want to send a message to" %>
      <div>
        <%= f.select :member_scope, options_for_select(@options.first.values, @options.first.keys.first), {}, { required: true, id: 'member-select', class: "dropdown" } %>
        <%= f.hidden_field :member_scope, id: 'member-scope-value', value: @options.first.keys.first %>
      </div>
      </div>

    <div class="form-group">
      <%= f.label :message, "Message" %>
      <%= f.text_field :message, class: "form-control", id: "message-input", required: true %>
      <small id="character-count" class="form-text text-muted">Character count: 0</small>
      <small id="segments-count" class="form-text text-muted">Segments count: 0</small>
    </div>

    <div class="form-group">
      <%= submit_tag "Send Message", class: "btn btn-primary", onclick: "return confirm('Are you sure you want to send this message?');" %>
    </div>
  <% end %>
</div>
