<div class="container mt-4">
  <h1>Member Profile</h1>
  <%= form_for @member do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", value: @member.name %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", value: @member.email %>
    </div>

    <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: "form-control", value: @member.phone_number %>
    </div>

    <div class="form-group">
      <%= f.label :member_type %>
      <%= f.select :member_type, options_for_select(['volunteer', 'student'], selected: @member.member_type), class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :archived %>
      <%= f.check_box :archived, checked: @member.archived? %>
    </div>

    <div class="form-group">
      <%= f.submit "Save Changes" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= button_to "Delete Member", archived_member_path, method: :delete, class: "btn btn-danger", onclick: "return confirm('Are you sure you want to delete this member?');" %>
  </div>
</div>
